/* Universal*/

html {
    background-color: rgb(20, 19, 19);
}

body {
    padding: 40px 0 0 35px;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: none;
}

h3 {
    font-size: 3rem;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff;
    line-height: 100%;
    width: calc(100% - 0.75vw);
}

h4 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    margin: 20px 0;
}

.scope {
    margin-bottom: 30px;
}

.scope h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    min-width: 300px;
    max-width: 480px;
    line-height: 150%;
    width: 90%;
    margin-top: 0;
}

.column {
    display: block;
    width: calc(50% - 0.75vw);
    margin: 0;
    margin-right: 0.75vw;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section {
    /* margin-top: 0.75vw; */
    margin-bottom: 40px;
}

a {
    /* Link color is set to clear */
    color: rgba(0, 0, 0, 0);
}

.nav {
    position: fixed;
    margin-left: 0;
}

.page-content {
    margin-left: 240px;
    position: relative;
    display: flow-root;
}

.kh-icon img {
    width: 60px;
    margin-bottom: 10px;
}

.kh-icon img:hover {
    transition: transform .7s ease-in-out;
    transform: rotate(360deg);
}

.pages a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    display: block;
    font-size: 11pt;
    margin-bottom: 5px;
}

.nav a:nth-of-type(2) {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

a.page {
    margin-left: -3px;
    padding: 8px;
    padding-left: 10px;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 19, 19);
    text-decoration: none;
    transition: all 0.5s;
}

.page-selected {
    margin-left: -3px;
    padding: 8px;
    padding-left: 10px;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
}

a.page:before {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
}

a.page:hover {
    color: rgb(20, 19, 19);
}

a.page:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a.page span {
    position: relative;
    z-index: 2;
}

.contact-icon img {
    height: 45px;
    transition: all 0.2s;
}

.hover {
    display: none;
}

.color-change img.default {
    display: inherit;
}

.color-change:hover img.hover {
    display: inherit;
}

.color-change:hover img.default {
    display: none;
}

.dark-on-dark {
    border: solid 2px #ffffff1a
}

/* Home Page*/

#introtext {
    margin-bottom: 40px;
}

.cover img,
.cover video {
    width: 99%;
    object-fit: cover;
    position: center center;
}

.light {
    border: solid 2px #ffffff;
}

/*About Page*/

#about {
    display: flex;
}

#portrait {
    margin-top: 8px;
    margin-right: 30px;
    width: 25vw;
    height: 40vw;
    object-fit: cover;
}

#hobby div img {
    width: 38%;
    margin: 0 0.75vw 0.75vw 0;
}

/* Project Pages */

.headerimg {
    position: fixed;
    top: 0;
    width: 85%;
    height: 85%;
    object-fit: cover;
    z-index: 0;
}

.project-content {
    position: relative;
    z-index: 1;
    margin-top: calc(100vh - 175px);
    padding: 20px 2% 20px 0;
    background-color: rgb(20, 19, 19);
    color: white;
}

h1 {
    font-size: 5.75vw;
    text-wrap: wrap;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: -0.4vw;
    margin-bottom: 20px;
}

.project-content div.project-name {
    margin: 0;
    margin-bottom: 2vw;
    height: 130px;
}

#counterpoint {
    height: 180px;
}

.indented {
    padding-left: 40px;
}

.additional-info {
    font-style: italic;
}

.disclaimer {
    font-size: 9pt;
}

.project-link {
    color: #ffffff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.project-content img,
.project-content video,
.video-container {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.project-content .fullspread {
    width: 100%;
}

.column video {
    width: 100%;
}

.project-content .main {
    max-width: 1300px;
}

#wizardline-storyboard {
    margin-top: 1.25vw;
}

#wizardline-storyboard .column,
.page-content .project-content .brand>* {
    width: calc(33.33% - 0.75vw);
    margin: 0 0.75vw 15px 0;
}

.page-content .project-content .brandcard img {
    width: calc(50% - 0.75vw);
    margin: 0.75vw 0.75vw 0 0;
    height: 100%;
}

.video-container {
    position: relative;
    width: 80%;
    padding-bottom: 45%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#expiration-motion .column {
    margin-top: 0;
}

#expiration-motion video {
    width: 100%;
}

#testimonial {
    margin-top: 70px;
}

#automations img,
#campaigns img,
#counterpoint-type .column video {
    height: 35vw;
    object-fit: fill;
}

#automations,
#campaign,
#counterpoint-type .column {
    align-items: stretch;
    overflow: hidden;
}

#automations {
    width: 34%;
    margin-right: 0.75vw;
}

#campaigns {
    width: 64%;
}

#counterpoint-type .column video {
    height: 21vw;
}

#counterpoint-grid-color .column h4 {
    margin-top: 0;
}

.project-content .adjacent {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}



/* Modal */

.image-grid img {
    cursor: pointer;
}

.image:hover {
    border: solid 2px rgba(255, 255, 255, 0.418)
}

.light:hover {
    border: solid 2px rgb(0, 203, 225)
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 240px;
    width: calc(100% - 240px);
    height: 100%;
    background-color: rgba(20, 19, 19, 0.425);
    display: none;
    justify-content: center;
    align-items: center;
}

#current-image {
    width: 60%;
    height: auto;
}

#close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 20px;
}

#previous,
#next {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

@media (max-width: 1425px) {

    #about div {
        display: block;
    }

    #about-content .column {
        width: 100%;
    }

    #hobby {
        margin-top: 30px;
    }

    #hobby div img {
        width: 30%;
    }

    .project-content .column h4 {
        font-size: 1.25rem;
    }

}

@media (max-width: 1335px) {

    #wizardline-storyboard .column,
    .page-content .project-content .brand>* {
        width: calc(50% - 0.75vw);
    }

    .project-content .brand .column {
        width: 100%;
    }

    .project-content .column h4 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1150px) {

    #automations img,
    #campaigns img,
    #counterpoint-type .column video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #automations {
        width: 90%;
    }

    #campaigns {
        width: 90%;
    }

    .project-content .column h4 {
        font-size: 0.9rem;
    }
}

@media (max-width: 950px) {

    .row {
        display: block;
    }

    .column,
    #wizardline-storyboard .column {
        width: 100%;
    }

    #about {
        display: block;
    }

    #portrait {
        width: 60vw;
        height: 60vw;
        margin-bottom: 10px;
    }

    .project-content div img,
    .project-content div video,
    #expiration-motion video,
    .page-content .project-content .brand>* {
        margin-bottom: 10px;
        width: 90%;
        height: auto;
    }

    .project-content div p {
        margin-bottom: 30px;
    }

    .project-content .scope p {
        margin-bottom: 16px;
    }

    .project-content .adjacent {
        display: block;
    }
}

@media (max-width: 750px) {

    html {
        margin: 25px;
    }

    body {
        padding: 0;
        margin: 0;
        font-size: 11pt;
    }

    .nav {
        position: relative;
        margin-bottom: 20px;
    }


    .kh-icon img {
        width: 50px;
        margin-bottom: 8px;
    }

    .nav a {
        font-size: 10pt;
        margin-bottom: 3px;
    }

    .nav a:nth-of-type(2) {
        letter-spacing: 0.1em;
    }

    a.page {
        margin-left: 0;
        padding-left: 0;
        transition: none;
    }

    .page-selected {
        margin-left: 0;
        padding-left: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: solid 1px white;
        transition: none;
    }

    .page-content {
        margin: 0;
    }

    .headerimg {
        position: relative;
        width: 100%;
    }

    .project-content {
        margin: 0;
        padding-top: 10px;
    }

    .project-content div.project-name {
        margin-bottom: 2vw;
        height: 100%;
    }

    h1 {
        font-size: 10.5vw;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 14pt;
    }

    .project-content div img,
    .project-content div video {
        width: 100%;
    }

    .project-content #logo-sketches,
    .project-content #logo-iterations {
        display: flex;
    }

    .project-content #logo-sketches img,
    .project-content #logo-iterations img {
        width: 48%;
    }


    .image:hover {
        border: solid 2px #ffffff30
    }

    .light:hover {
        border: solid 2px #ffffff
    }

    #modal {
        background-color: rgba(0, 0, 0, 0);
    }

    #current-image,
    #close,
    #previous,
    #next {
        display: none;
    }

}